PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE departments (
  department_id   INTEGER PRIMARY KEY AUTOINCREMENT,
  name            TEXT NOT NULL UNIQUE
);
INSERT INTO departments VALUES(1,'CS');
INSERT INTO departments VALUES(3,'Business');
INSERT INTO departments VALUES(5,'Marketing');
CREATE TABLE users (
  user_id       INTEGER PRIMARY KEY AUTOINCREMENT,
  name          TEXT NOT NULL,
  email         TEXT NOT NULL UNIQUE,
  password_hash TEXT NOT NULL,
  role          TEXT NOT NULL CHECK (role IN ('ADMIN','TEACHER','STUDENT')),
  is_active     INTEGER NOT NULL DEFAULT 1,   -- soft delete/disable
  created_at    TEXT DEFAULT (datetime('now'))
);
INSERT INTO users VALUES(1,'Admin','admin@university.edu','7a8ac6ea3b9ba0e206e957cd380ca4a6159d0097c8a38b658b3f06a38d8164ce','ADMIN',1,'2025-11-03 21:33:59');
INSERT INTO users VALUES(2,'Alice Penn','alicep@university.edu','5dab1252efff29903e20944b6ff89b201bb1c81192630616615cab64fc2ce060','TEACHER',1,'2025-11-03 21:45:48');
INSERT INTO users VALUES(3,'John Abraham','johna@university.edu','ef285d2deda380ff866bff08a653ca0c3630c861ce0e062dd7acf4296fb6482b','STUDENT',1,'2025-11-03 21:46:35');
CREATE TABLE administrators (
  admin_id INTEGER PRIMARY KEY AUTOINCREMENT,
  user_id  INTEGER NOT NULL UNIQUE,
  name     TEXT,
  email    TEXT,
  FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);
CREATE TABLE teachers (
  teacher_id     INTEGER PRIMARY KEY AUTOINCREMENT,
  user_id        INTEGER NOT NULL UNIQUE,
  department_id  INTEGER,
  FOREIGN KEY (user_id)       REFERENCES users(user_id)             ON DELETE CASCADE,
  FOREIGN KEY (department_id) REFERENCES departments(department_id) ON DELETE SET NULL
);
INSERT INTO teachers VALUES(1,2,1);
INSERT INTO teachers VALUES(2,4,3);
INSERT INTO teachers VALUES(3,6,5);
CREATE TABLE students (
  student_id          INTEGER PRIMARY KEY AUTOINCREMENT,
  user_id             INTEGER NOT NULL UNIQUE,
  external_student_id TEXT UNIQUE,                        -- visible Student ID
  academic_year       TEXT,                               -- e.g., "2025-26"
  age                 INTEGER CHECK (age BETWEEN 10 AND 120),
  gender              TEXT CHECK (gender IN ('Male','Female','Non-binary','Prefer not to say')),
  department_id       INTEGER,
  assigned_teacher_id INTEGER,                            -- who may edit performance
  gpa                 REAL,
  academicStatus      TEXT,
  FOREIGN KEY (user_id)             REFERENCES users(user_id)             ON DELETE CASCADE,
  FOREIGN KEY (department_id)       REFERENCES departments(department_id) ON DELETE SET NULL,
  FOREIGN KEY (assigned_teacher_id) REFERENCES teachers(teacher_id)       ON DELETE SET NULL
);
INSERT INTO students VALUES(1,3,'0001','2024-26',22,'Male',1,1,3.569999999999999841,NULL);
INSERT INTO students VALUES(2,5,'0002','2024-28',20,'Male',3,2,3.819999999999999841,NULL);
INSERT INTO students VALUES(3,7,'0003','2023-25',22,'Male',5,3,3.220000000000000195,NULL);
CREATE TABLE student_academic_data (
  data_id        INTEGER PRIMARY KEY AUTOINCREMENT,
  student_id     INTEGER NOT NULL,
  term           TEXT NOT NULL,
  attendance     REAL,
  study_hours    REAL,
  examScores     INTEGER,
  stress_level   INTEGER,
  sleep_hours    REAL,
  participation  REAL,
  extra_json     TEXT,                   -- flexible JSON payload
  created_by     INTEGER,                -- user_id who created the row
  created_at     TEXT DEFAULT (datetime('now')),
  UNIQUE (student_id, term),
  FOREIGN KEY (student_id) REFERENCES students(student_id) ON DELETE CASCADE,
  FOREIGN KEY (created_by) REFERENCES users(user_id)       ON DELETE SET NULL
);
CREATE TABLE ml_models (
  model_id     INTEGER PRIMARY KEY AUTOINCREMENT,
  model_name   TEXT NOT NULL,
  model_type   TEXT,
  version      TEXT NOT NULL,
  path         TEXT NOT NULL,
  columns_path TEXT NOT NULL,
  accuracy     REAL,
  f1_score     REAL,
  roc_auc      REAL,
  created_at   TEXT DEFAULT (datetime('now')),
  UNIQUE (model_name, version)
);
CREATE TABLE prediction_results (
  prediction_id     INTEGER PRIMARY KEY AUTOINCREMENT,
  student_id        INTEGER NOT NULL,
  model_id          INTEGER NOT NULL,
  term              TEXT NOT NULL,
  predictedStatus   TEXT NOT NULL CHECK (predictedStatus IN ('PASS','FAIL')),
  passPercentage    REAL NOT NULL,
  failPercentage    REAL NOT NULL,
  created_at        TEXT DEFAULT (datetime('now')),
  UNIQUE (student_id, model_id, term),
  FOREIGN KEY (student_id) REFERENCES students(student_id) ON DELETE CASCADE,
  FOREIGN KEY (model_id)   REFERENCES ml_models(model_id) ON DELETE CASCADE
);
CREATE TABLE recommendations (
  recommendation_id   INTEGER PRIMARY KEY AUTOINCREMENT,
  prediction_id       INTEGER,       -- nullable to allow manual notes
  student_id          INTEGER NOT NULL,
  recommendationType  TEXT NOT NULL,
  message             TEXT NOT NULL,
  created_at          TEXT DEFAULT (datetime('now')),
  FOREIGN KEY (prediction_id) REFERENCES prediction_results(prediction_id) ON DELETE CASCADE,
  FOREIGN KEY (student_id)    REFERENCES students(student_id)              ON DELETE CASCADE
);
CREATE TABLE messages (
  message_id   INTEGER PRIMARY KEY AUTOINCREMENT,
  sender_id    INTEGER NOT NULL,      -- users.user_id
  receiver_id  INTEGER NOT NULL,      -- users.user_id
  subject      TEXT,
  content      TEXT,
  readStatus   TEXT NOT NULL DEFAULT 'UNREAD' CHECK (readStatus IN ('UNREAD','READ')),
  created_at   TEXT DEFAULT (datetime('now')),
  FOREIGN KEY (sender_id)   REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY (receiver_id) REFERENCES users(user_id) ON DELETE CASCADE
);
CREATE TABLE dashboards (
  dashboard_id    INTEGER PRIMARY KEY AUTOINCREMENT,
  user_id         INTEGER NOT NULL UNIQUE,
  dashboardType   TEXT,          -- 'ADMIN' | 'TEACHER' | 'STUDENT'
  customSettings  TEXT,          -- JSON blob (cards, filters, etc.)
  FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);
CREATE TABLE audit_log (
  audit_id       INTEGER PRIMARY KEY AUTOINCREMENT,
  actor_user_id  INTEGER NOT NULL,
  entity_type    TEXT NOT NULL,     -- 'STUDENT','TEACHER','ACADEMIC_DATA','USER','PREDICTION', etc.
  entity_id      INTEGER NOT NULL,
  action         TEXT NOT NULL,     -- 'CREATE','UPDATE','DELETE','PREDICT'
  details_json   TEXT,
  created_at     TEXT DEFAULT (datetime('now')),
  FOREIGN KEY (actor_user_id) REFERENCES users(user_id) ON DELETE SET NULL
);
CREATE TABLE models (
  model_id      INTEGER PRIMARY KEY AUTOINCREMENT,
  name          TEXT NOT NULL,
  path          TEXT NOT NULL,
  columns_path  TEXT NOT NULL,
  created_at    TEXT DEFAULT (datetime('now'))
);
INSERT INTO models VALUES(1,'student_grade_predictor','models/model.pkl','models/feature_schema.json','2025-11-03 21:35:05');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',9);
INSERT INTO sqlite_sequence VALUES('models',1);
INSERT INTO sqlite_sequence VALUES('departments',16);
CREATE INDEX idx_users_role   ON users(role);
CREATE INDEX idx_users_active ON users(is_active);
CREATE INDEX idx_admins_user ON administrators(user_id);
CREATE INDEX idx_teachers_user ON teachers(user_id);
CREATE INDEX idx_teachers_dept ON teachers(department_id);
CREATE INDEX idx_students_user    ON students(user_id);
CREATE INDEX idx_students_dept    ON students(department_id);
CREATE INDEX idx_students_teacher ON students(assigned_teacher_id);
CREATE INDEX idx_academic_student_term
  ON student_academic_data(student_id, term);
CREATE INDEX idx_pred_student_term
  ON prediction_results(student_id, term);
CREATE INDEX idx_recs_student ON recommendations(student_id);
CREATE INDEX idx_messages_sender
  ON messages(sender_id, created_at);
CREATE INDEX idx_messages_receiver
  ON messages(receiver_id, readStatus, created_at);
CREATE INDEX idx_dashboards_user ON dashboards(user_id);
CREATE INDEX idx_audit_entity
  ON audit_log(entity_type, entity_id, created_at);
COMMIT;
